<%- include('shared/head'); -%>
<%- include('shared/header'); -%>
  <main>
    <h2><%= username %></h2>
    <a href="sound-editor/~">New Project</a>
    <h3>Projects</h3>
    <%_ for (const project of projects) { _%>
      <a href="sound-editor/<%= project.id %>"><%= project.title %></a>
    <%_ } _%>
  </main>
<%- include('shared/footer'); -%>
