<%- include('head'); -%>
<%- include('header'); -%>
  <main>
    <h1>Registered Accounts</h1>

    <%_ for (const account of accounts) { _%>
      <h2><%= account.username %></h2>
      <span><%= account.registered_date %></span>

      <h3>Projects</h3>
      <p><%= account.projects %></p>
    <%_ } _%>
  </main>
<%- include('footer'); -%>
