<%- include('shared/head'); -%>
<%- include('shared/header'); -%>
  <main>
    <h1>Registered Accounts</h1>

    <%_ for (const account of accounts) { _%>
      <h2><%= account.username %></h2>
      <span>Registered on: <%= account.registered_date %></span>

      <h3>Projects</h3>


      <% if(account.projects !== null){ %>
        <p><%= account.projects %></p>
      <% } else{ %>  
          <p>No projects created</p>
      <% } %>
    <%_ } _%>
  </main>
<%- include('shared/footer'); -%>
