<%- include('shared/head'); -%>
<%- include('shared/header'); -%>
  <div id="menu-bar">
    <!--TODO Implement [File, Edit, View, Settings, Help]-->
    <button id="tl-add-layer">Add Layer</button>

    <form id="search-bar">
      <input type="text" placeholder="Search Sounds">
      <button type="submit"></i></button>
    </form>

  </div>
  <main>
    <section id="sound-list">
      <h2>Sounds</h2>
      <span class="error-msg"></span>
        
    </section>

    <div id="timeline">
      <%_ for (const layer of layers) { _%>
        <h2 style="color: <%= layer.color %>">Layer: <%= layer.name %></h2>
        <%_ } _%>
    </div>
  </main>
  <script>

const baseUrl = 'http://localhost:5163'

const soundList = document.getElementById('sound-list')
const search = document.getElementById('search-bar')

const tlAddLayer = document.getElementById('tl-add-layer')

//TODO: Render only elements that have changed since last interaction
const drawElements = async function () {
  const url = new URL('/sound-request-draw')
}

const searchSound = async function (text) {
  const url = new URL('/sound-search', baseUrl)
  const res = await fetch(url, {
    method: 'POST',
    body: JSON.stringify({ textSearch: text }),
    headers: { 'Content-Type': 'application/json' }
  })

  const result = await res.json()

  if (result.soundResults === undefined) {
    msg.innerHTML = 'Error: A problem occured searching sounds'
  }

  console.log(result.soundResults)
  displaySounds(result.soundResults)
}

const displaySounds = function (soundResults) {
  for (const sound of soundResults.results) {
    const soundDiv = document.createElement("div")
    soundDiv.appendChild(document.createTextNode(sound.name))

    soundList.appendChild(soundDiv)
  }
}

const addLayer = async function() {
  const url = new URL('/sound-tl-layer', baseUrl)
  const res = await fetch(url, {
    method: 'POST',
    body: JSON.stringify({ textSearch: text }),
    headers: { 'Content-Type': 'application/json' }
  })

  const result = await res.json()
}

document.addEventListener('layerAdd', (e) => addLayer())

tlAddLayer.addEventListener('click', (e) => document.dispatchEvent(new Event('layerAdd')))

search.addEventListener('submit', (e) => {
  e.preventDefault()
  const text = search.querySelector('input').value
  searchSound(text)
}, false)
  </script>
<%- include('shared/footer'); -%>
